<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Digit Recognition</title>
  <link rel="stylesheet" href="https://unpkg.com/98.css">
</head>
<link rel="stylesheet" href="styles.css">
<body>
  <h1 class="page-title">NFT Market Analysis</h1>
  <div class="container">
    <div class="window" style="margin-right: 10px;">
      <div class="title-bar">
        <div class="title-bar-controls">
          <button aria-label="Minimize"></button>
          <button aria-label="Maximize"></button>
          <button aria-label="Close"></button>
        </div>
      </div>
      <div class="window-body">
        <div id="drop-area" style="border: 2px dashed black; font-size: 24px; padding: 10px; text-align: center;
        height: 240px; width: 208px;">
          Drag and drop digits here
        </div>
      </div>
    </div>
    <div class="window" style="margin-left: 10px;">
      <div class="title-bar">
        <div class="title-bar-text">Magic Results</div>
        <div class="title-bar-controls">
          <button aria-label="Minimize"></button>
          <button aria-label="Maximize"></button>
          <button aria-label="Close"></button>
        </div>
      </div>
      <div class="window-body">
      <div id="result" style="font-size: 24px; text-align: center; padding: 20px;">
        Predicted digit will appear here
    </div>
     <div class="icon-container">
     <!-- First icon and its text -->
       <div class="icon-wrapper">
        <a href="https://github.com/tassalor1/MNIST_Digit_Recognition" target="_blank">
          <img src="/static/images/accessibility_contrast.png" alt="Icon" class="icon-comp">
        </a>
      <p class="icon-text">Github</p>
     </div>
     <!-- Second icon (face-icon) -->
     <div class="icon-wrapper">
        <a href="https://github.com/tassalor1" target="_blank">
     <img src="/static/images/msagent-2.png" alt="Face Icon" class="face-icon">
    </a>
   <p class="icon-text">Creator</p>
  </div>
  </script>
</body>
</html>